.tip {
    animation: tipPulsing 2s ease-in-out infinite;
    padding-top: 1vh;
    transition: 0.3s;
}

.tip.hidden {
    opacity: 0;
}

@keyframes tipPulsing {
    0%,100% {
        color: rgba(255, 255, 255, 0.68);
    }
    50% {
        color: rgba(255, 255, 255, 0.21);
    }
}
